*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Overpass, sans-serif;
  font-size: $font-size-default;
  line-height: $line-height-default;
  color: $white;
  font-weight: 400;
  background-color: rgba(162, 162, 162, 0.32);
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

img {
}

input,
button,
select,
option,
textarea {
  outline: none;
}

.container {
  width: 1350px;
  margin: 0 auto;
  max-width: 100%;

  @media (max-width: 1300px) {
    width: 980px;
  }
  @media (max-width: 998px) {
    width: 760px;
  }
  @media (max-width: 780px) {
    width: 560px;
  }
  @media (max-width: 575px) {
    width: 100%;
  }
}