.input {
  color: $white;
  font-size: .8em;
  padding: .65rem;
  border: 1px solid $white;
}

.input::placeholder {
  font-size: .9em;
  color: $white;
  opacity: 1;
}

.input:focus {
  border: 1px solid $purple;
}

.purple {
  background: linear-gradient(250deg, $purple-lite 0%, $purple-dark 100%);
}

.blue {
  background: linear-gradient(248.66deg, $blue-lite 0%, $blue-dark 100%);
}

.red {
  background: linear-gradient(248.66deg, $orange 0%, $purple-lite 100%);
}

@media (max-width: 998px) {
  .input {
    font-size: .8rem;
    padding: .46495rem;
  }

  .input::placeholder {
    font-size: .8rem;
  }
}