$white: #ffffff;
$white-dark: #f3f3f3;
$white-lite: #EEECEC;
$purple: #885ffc;
$purple-dark: #6b5185;
$purple-lite: #8C6EAB;
$white-background: rgba(162, 162, 162, 0.32);
$black: #000000;
$grey: #414141;
$grey-dark: #828282;
$grey-opacity: #EBEBEB;
$blue-lite: #A8C8ED;
$blue-dark: #7673DC;
$orange: #FF9696;

$line-height-default: 120%;
$font-size-default: 28px;