.cities-info {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  text-align: center;
  scroll-snap-type: y mandatory;

  &__card {
    display: flex;
    scroll-snap-align: start;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    max-width: 100%;
    padding: .6rem;
    border-radius: .7rem;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    cursor: pointer;
    width: 200px;
    flex-shrink: 0;
    position: relative;
  }

  &__card_active {
    background: rgba(255, 255, 255, 0.5);
  }

  &__degree {
    font-size: 1.2rem;
  }

  &__city-name {
    font-size: 1.2rem;
  }

  &__delete {
    position: absolute;
    top: 1%;
    right: 5%;
    background: none;
    color: $white
  }

  &__delete:hover {
    color: $grey;
  }
}

.pagination-block {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 200px;
  margin: 0 auto;
}

.pagination {
  border: solid $white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  background-color: inherit;

  &__left {
    transform: rotate(135deg);
  }

  &__right {
    transform: rotate(-45deg);
  }
}