.search-form {
  position: relative;
  display: flex;
  width: 100%;

  &__search-field {
    background: linear-gradient(116.79deg, rgba(255, 255, 255, 0.48) -41.94%, rgba(255, 255, 255, 0.12) 57.51%);
    border-radius: 0.71em;
    width: 100%;
  }

  &__search {
    padding: .695em;
    top: 0;
    background-color: inherit;
    bottom: 0;
    right: 0;
    border-top-right-radius: 0.71em;
    border-bottom-right-radius: 0.71em;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 998px) {
  .search-form {

  }
}