.switcher-theme {
  display: flex;
  gap: 5px;

  &__purple {
    background-color: $purple;
  }

  &__blue {
    background-color: $blue-lite;
  }

  &__red {
    background-color: $orange;
  }
}

.switcher-options {
  display: block;
  border-radius: 100px;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}