.weather-info {
  text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);

  &__header {
    margin-top: 2rem;
    max-height: 100%;
    height: auto;
    line-height: normal;
    display: flex;
    align-items: center;
  }

  &__degrees {
    font-size: 5rem;
    display: flex;
  }

  &__degree-sign {
    align-content: flex-start;
    font-size: 1.14rem;
  }

  &__img {
    width: auto;
  }

  &__body {
    padding-top: 18px;
  }

  &__date {
    font-size: 1.3rem;
  }

  &__description {
    padding-top: 5px;
    font-size: 0.85rem;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__trait {
    font-size: 12px;
  }


  &__footer {
    display: flex;
    gap: 15px;
    padding-top: 38px;
    align-items: center;
  }

  &__forecast {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    display: flex;
    align-items: center;
  }
}