.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $white-background;

  &__container {
    border: 1px solid black;
    display: flex;
    height: 500px;
    background: linear-gradient(250deg, $purple-lite 0%, $purple-dark 100%);
  }
}