.main {

  &__form-open {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .571em;
    background: linear-gradient(116.79deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 99.45%);
    border-radius: 20px;
  }

  &__search {

  }
}